.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-footer);
}

.gpt3__blog-container_article-image {
  width: 100%;
  height: 100%;
}

.gpt3__blog-container_article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gpt3__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
  color: #ffffff;
  gap: 5rem;
}

.gpt3__blog-container_article-content small {
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
}

.gpt3__blog-container_article-content h3 {
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
}
.gpt3__blog-container_article-content small:last-child {
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .gpt3__blog-container_article-image {
    height: 250px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__blog-container_article-content h3 {
    font-size: 18px;
    line-height: 25px;
  }
}
