.gpt3__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient-bar);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  margin: 4rem;
  padding: 2rem;
  gap: 2rem;
}
.gpt3__cta-content small {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}
.gpt3__cta-content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}

.gpt3__cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gpt3__cta-btn button {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  min-width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    margin: 4rem 2rem;
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}
