.gpt3__features-container__feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.gpt3__features-container__feature-title {
  flex: 1;
  width: 180px;
  min-width: 151px;
}
.gpt3__features-container__feature-title div {
  width: 38px;
  height: 3px;
  margin-bottom: 0.5rem;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.gpt3__features-container__feature-title h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.gpt3__features-container__feature-text {
  flex: 2;
  max-width: 731px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-text {
    width: 90%;
  }
  .gpt3__features-container__feature {
    flex-direction: column;
    gap: 1rem;
  }
}
