.gpt3__navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 6rem;
  height: 7rem;
  top: -100%;
}
.gpt3__navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gpt3__navbar-links-logo {
  margin-right: 2rem;
}

.gpt3__navbar-links-logo img {
  height: 16.02px;
  width: 62.56px;
}

.gpt3__navbar-links-container {
  display: flex;
  align-items: center;
}

.gpt3__navbar-sign {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gpt3__navbar-links-container li,
.gpt3__navbar-menu_container li,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p,
.gpt3__navbar-menu_container-sign button,
.gpt3__navbar-sign button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0 1rem;
  cursor: pointer;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
  margin: 0;
  padding: 1rem 2rem;
  background: #ff4820;
  border: none;
  border-radius: 5px;
}

.gpt3__navbar-menu {
  margin-left: 1rem;
  position: relative;
  display: none;
}
.gpt3__navbar-menu svg {
  cursor: pointer;
}

.gpt3__navbar-menu_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--color-footer);
  position: absolute;
  padding: 2rem;
  margin-top: 1rem;
  right: 0;
  top: 40px;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container li {
  margin: 1rem 0;
}
.gpt3__navbar-menu_container-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .gpt3__navbar-links-container {
    display: none;
  }
  .gpt3__navbar-menu {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
  }
  .gpt3__navbar-sign {
    display: none;
  }
  .gpt3__navbar-menu_container {
    top: 20px;
  }
  .gpt3__navbar-menu_container-sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  .gpt3__navbar-menu_container-sign p {
    margin: 0;
  }
}
