.gpt3__possibility {
  display: flex;
  gap: 2rem;
}
.gpt3__possibility-image {
  flex: 1;
  display: flex;
  align-items: center;
}
.gpt3__possibility-image img {
  width: 100%;
  height: 100%;
}
.gpt3__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.gpt3__possibility-content h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}

.gpt3__possibility-content h2 {
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}

.gpt3__possibility-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);
  margin-top: 0.5rem;
}

.gpt3__possibility-content h4:last-child {
  color: var(--color-subtext);
  margin-top: 1rem;
}

@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }
  .gpt3__possibility-image {
    justify-content: center;
  }
  .gpt3__possibility-content {
    margin: 1rem 0;
  }
}
