.gpt3__header {
  display: flex;
}
.gpt3__header-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
}
.gpt3__header-content h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
.gpt3__header-content > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}
.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 0;
  display: flex;
}
.gpt3__header-content__input input {
  flex: 2;
  width: 100%;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  background: var(--color-footer);
  color: #3d6184;
  max-width: 456px;
  height: 73px;
  padding: 2rem 1.5rem;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.gpt3__header-content__input button {
  background: #ff4820;
  flex: 0.8;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  max-width: 174px;
  height: 73px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.gpt3__header-content__people {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2.2rem;
  justify-content: flex-start;
  gap: 0.9rem;
}
.gpt3__header-content__people p {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.gpt3__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.gpt3__header-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpt3__header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
  }
  .gpt3__header-content {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 650px) {
  .gpt3__header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .gpt3__header > p,
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3__header-content__people {
    flex-direction: column;
    gap: 0.4rem;
    text-align: center;
  }
}
@media screen and (max-width: 490px) {
  .gpt3__header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .gpt3__header > p {
    font-size: 14px;
    line-height: 24px;
  }
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 16px;
    height: 36.5px;
  }
  .gpt3__header-content__input input {
    padding: 1rem 1.5rem;
  }
  .gpt3__header-content__input button {
    padding: 0 1rem;
  }
}
